doctype
html(lang="es")
	head
		meta(charset="utf-8")
		title formularios (PUG- BOTTSTRAP)
		link(href="css/bootstrap.css" rel="stylesheet")
	body
		main.container
			//-formulario
			section.row
				div.col-md-4.col-md-offset-4
					fieldset
						legend
							h3.text-muted
								i.glyphicon.glyphicon-user
								| &nbsp; formulario de Login 
						form(method="post")
							div.form-group
								imput.form-control(
								    name="email"
								    type="email"
								    placeholder="correo electronico"
								    required=true
								)
							div.form-group
								imput.form-control(
									name="password"
									type="password"
									placeholder="password"
									required=true
									)
							div.form-group
								input.form-control.btn.btn-info(
								type="submit"
								value="iniciar Sesion"
							)

							//-forumulario Registro
			section.row
				div.col-md-6.col-md-offset-3
				fieldeset
					legen
						h3.text-muted
							i.glyphicon.glypicon-list
							|&nbsp; formulario de Registro
					form(method="post")
						div.form-group
							imput.form-control(
								type="text"
								name="name"
								placeholder="Nombre Completo"
								required=true
							)
						div.form-group
							select.form-control( name="gender" required=true)
								option seleccione genero...
								option(value="F") femenino
								option(value="M") masculino
						div.form-group
							imput.form-control(
								type="date"
								name="date"
								placeholder="fecha Nacimiento"
								required=true
							)
						div.form-group
							label(for="s4")
							imput(
								type="checkbox"
								name="sport"
								value="Soccer"
							)
								|&nbsp;Futboll
							br
							label(for="s4")
							imput(
								type="checkbox"
								name="sport"
								value="Soccer"
							)
								|&nbsp;Beisbol
							br
							label(for="s4")
							imput(
								type="checkbox"
								name="sport"
								value="Soccer"
							)|&nbsp;Tenis
						div.form-group
							textarea.form-control(
								name="description"
								placeholder="descripcion"
								row="6"
								required=true
							)
						div.form-group
							imput.form-control.btn.btn-info(
								type="submit"
								value="registrar Datos"
							)
						div.form-group
							imput.fom-control.btn.btn-default(
								type="reset"
								value="limpiar datos"
							)
						
						

								
								
					

					
